<!-- _footer.html.erb -->
<div class="footer" style="display: flex; justify-content: center; align-items: center; position: fixed; left: 0; bottom: 0; width: 100%; background-color: #f4f4f4; color: #757575; padding: 15px;">
  <div class="footer-content">
    <p class="footer-text" style="display: inline-block; margin: 0 10px;">A Mama Tech Project</p>
    <p class="footer-text" style="display: inline-block; margin: 0 10px;">Developer: <a href="https://github.com/nashthecoder" style="color: red; text-decoration: none;">Nash the Coder</a></p>
    <p class="footer-text" style="display: inline-block; margin: 0 10px;">Built with <a href="https://rubyonrails.org/" style="color: red; text-decoration: none;">Ruby on Rails</a></p>
    <p class="footer-text" style="display: inline-block; margin: 0 10px;">&copy; <%= Time.now.year %> </p>
  </div>
</div>
