<!-- _footer.html.erb -->
<div class="footer">
  <div class="footer-content">
    <p class="footer-text">Project by Mama Tech</p>
    <p class="footer-text">Developer: Nash the Coder</p>
    <p class="footer-text">Built with <a href="https://rubyonrails.org/">Ruby on Rails</a></p>
    <p class="footer-text"><%= Time.now.year %></p>
  </div>
</div>
