<div id="<%= dom_id user %>">
    <p>
    <strong>Avatar:</strong>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, width: "10%" %>
    <% end %>
    </p>
    
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

</div>
