<!-- app/views/users/show.html.erb -->
<%= render partial: 'user', locals: { user: @user, photo: @photo } %>

<div>
  <%# <%= link_to "Edit this user", edit_user_path(@user) %> 
  <%# <%= link_to "Back to users", users_path %> 

  <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger", style: "margin-top: 10px;"%>


</div>
