<div class="bg-light flex items-center justify-center bg-cover bg-no-repeat h-screen w-full" style="background-image: url('<%= asset_path('RomaniaCover.JPG') %>'); overflow-x: hidden; box-sizing: border-box;">
  <a href="<%= root_path %>" class="navbar-brand">
    <%= image_tag('ps-logo.png', alt: 'Pix Share Logo', class: 'logo-image max-h-350 max-w-350 rounded-10') %>
  </a>
</div>
