<p style="color: green"><%= notice %></p>

<h1>Photo Gallery</h1>

<div id="photos">
  <% if @photos.any? { |photo| photo.images.attached? } %>
    <% @photos.each do |photo| %>
      <% if photo.images.attached? %>
        <%= render photo %>
        <p>
          <%= link_to "Show this photo", photo %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p>No photos with images found.</p>
  <% end %>
</div>

<%= link_to "New photo", new_photo_path %>
